/* styles/global.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  line-height: 1.5;
  font-family: Raleway, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

button, input, textarea {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}